@font-face {
  font-family: 'FOT-RodinNTLG';
  src: url(font/FOT-RodinNTLG\ Pro\ DB.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-gradient: #00c6ff;
  --navbar: #0099ff;
  --text-light: #00aef3;
  --white: #ffffff;
  --button-bg: #f0f0f0;
  --button-border: #48a0f7;
  --button-hover: #e0e0e0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to bottom, var(--bg-gradient), var(--white));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "FOT-RodinNTLG", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--text-light);
  text-decoration: none;
}

body, * {
  cursor: url('/img/cursor.png'), auto !important;
}

a:hover {
  cursor: url('/img/cursor.png'), auto;
}

/* Navbar */
.navbar {
  background: var(--navbar);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.nav-icon {
  width: 40px;
  height: auto;
}

.navbar a {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2em; /* Ajuste o tamanho aqui */
}

/* Titles */
h1, h2 {
  color: var(--text-light);
}

/* Logo */
.logo {
  width: 250px;
}

/* Button Container */
.container-buttons {
  display: flex; 
  justify-content: center; 
  gap: 20px;
  margin-top: 20px;
}

/* General Containers */
.container,
.errors-container,
.container-intro,
.container-guide {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container-guide {
  text-align: left;
}

.errors-container ul, ol, li {
  text-align: left;
  padding-left: 20px; 
}

/* Errors */
.errors-container h2 {
  text-align: center;
}

/* Button Image */
.button-image {
  background-color: var(--button-bg);
  border: 2px solid var(--button-border);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.button-image:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
}

.button-image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.button-image div {
  margin-top: 10px;
  color: #555;
  font-weight: bold;
}

/* Guide Text */
.text-guide {
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 2px solid #48a0f7;
  border-radius: 15px;
  font-size: 18px;
  width: 60%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  display: block;
}

.text-guide.active {
  max-height: 500px; 
  opacity: 1;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #0099ff, #8844cc);
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  max-width: 450px;
}

.footer-logo {
  width: 250px;
  margin-bottom: 10px;
}

.footer-left p {
  margin-top: 5px;
  font-size: 14px;
}

.footer-socials h3 {
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid white;
  width: fit-content;
}

.footer-socials a {
  display: block;
  color: #fff;
  margin-bottom: 8px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-socials a i {
  margin-right: 8px;
}

.footer-socials a:hover {
  text-decoration: underline;
  color: #00c2ff;
}

.ash-credit {
  display: inline-flex;
  align-items: center;  
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.ash-credit:hover {
  color: #e100ff;
}

.ash-pfp {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  object-fit: cover; 
  vertical-align: middle; 
}

/* Staff */
.team-section {
  background: #121212;
  color: #f0f0f0;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
}

.team-section h2 {
  font-size: 2.5em;
  color: #00bfff;
}

.team-section p {
  margin-bottom: 30px;
  color: #ccc;
}

.core-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.member-card {
  background: var(--white);
  border: 2px solid #00c2ff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 200px;
  height: 280px;
  transition: transform 0.3s, background 0.3s;
}

.staff-name {
  color: #1b1b1b;
  font-size: 15px;
  text-align: center;
}

.member-card:hover {
  transform: scale(1.05);
  background: var(--button-hover);
}

.member-card img {
  width: 70%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.member-card span {
  font-size: 1.2em;
  font-weight: bold;
}

.contributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.contributor-box {
  background: var(--white);
  border: 2px solid #00c2ff;
  padding: 10px;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background 0.3s;
  text-decoration: none;
}

.contributor-box:hover {
  transform: scale(1.1);
  background: var(--button-hover);
}

.contributor-box img {
  width: 100%;
  border-radius: 50%;
}

/* FAQ */
#faq {
  width: 100%;   /* Garante que o elemento ocupe 100% da largura do container */
  max-width: 800px; /* Limita a largura da FAQ */
  margin: 0 auto 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#faq h2 {
  text-align: center;
  color: #00aaff;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  color: #00aaff;
  margin-bottom: 8px;
}

.faq-item p {
  color: #333;
  line-height: 1.6;
}

/* Gallery */
#gallery {
  width: 100%;   /* Garante que o elemento ocupe 100% da largura do container */
  max-width: 800px; /* Limita a largura da galeria */
  margin: 0 auto 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#gallery h2 {
  text-align: center;
  color: #00aaff;
  margin-bottom: 20px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 50px;
}

.gallery-container img {
  width: 100%;
  max-width: 350px; /* Limita o tamanho das imagens */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Estilo da seção errors */
.errors-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.errors-container h2 {
  text-align: center;
}

.errors-container ul, .errors-container ol {
    text-align: left;
    padding-left: 20px; /* Adicionando um espaço para listas */
}

/* Código das features sem alteração */
.status-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.status-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-name {
  font-size: 1.2em;
}

.feature-status {
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 8px;
  color: #fff;
}

.feature-status.green { background-color: #2ecc71; }   /* Fully functioning */
.feature-status.yellow { background-color: #f1c40f; }  /* Semi-functional */
.feature-status.red { background-color: #e74c3c; }     /* Non-funcional */

/* Errors */

.suggestions-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

#suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  position: absolute;
  background: white;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
}

#suggestions li {
  padding: 8px;
  cursor: pointer;
}

#suggestions li:hover {
  background: #f0f0f0;
}
/* Media Query for max-width 768px */
@media screen and (max-width: 768px) {

  .navbar {
    justify-content: space-between; 
  }

  .navbar a {
    font-size: 0.8em;
  }

  .navbar a:not(:first-child) {
    display: none; 
  }

  .nav-icon {
    width: 30px; 
  }

  .logo {
    width: 200px; 
  }

  .container-buttons {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .container {
    align-content: center;
    width: 85%;
    margin: 20px;
    padding: 15px;
  }

  .container-intro {
    width: 80%;
    text-align: center;
  }

  .button-image {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }

  .staff-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .staff-card {
    flex-direction: column;
    align-items: center;
  }

  .staff-img {
    width: 80px;
    height: 80px;
  }

  .footer-left {
    max-width: 100%;
  }

  .footer-logo {
    width: 100%;
  }

  .gallery-container {
    width: 85%;
    flex-direction: column;
    align-items: center;
  }

  .gallery-container img {
    width: 100%;
    max-width: 100%; 
    height: auto;
  }

  .faq-item {
    margin-bottom: 10px;
  }

  #faq, #gallery {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
  }

  .container h2, .container-intro h1 {
    font-size: 24px;
  }

}

/* Media Query for max-width 480px */
@media screen and (max-width: 480px) {

  .navbar {
    gap: 10px; 
  }

  .navbar a {
    font-size: 0.7em;
  }

  .button-image img {
    width: 120px;
    height: 120px; 
  }

  .button-image div {
    font-size: 14px;
  }

  .logo {
    width: 180px;
  }

  .staff-name {
    font-size: 14px; 
  }

  #faq, #gallery {
    padding: 10px;
    margin: 0 auto;
  }

  .gallery-container {
    flex-direction: column;
    align-items: center;
  }

  .gallery-container img {
    max-width: 250px;
  }

  .staff-role {
    font-size: 12px;
  }

  .footer-left {
    text-align: center;
    max-width: 100%;
  }

  .footer-socials {
    text-align: center;
  }

}
